* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: rgb(1, 1, 68);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

button {
    display: flex;
    flex-shrink: 0;
    width: 100px;
    text-align: center;
    border-radius: 25px;
    border-color: palevioletred;
    background-color: palevioletred;
    color: rgb(1, 1, 68);
    font-weight: bold;
    padding: auto;
    font-size: 20px;
   
    
}

img {
    height:fit-content;
}

h1 {
    margin-bottom: 3px;
    font-weight: bolder;

}

.body {
    display: flex;
    flex-direction: column;
    
}

/* HEADER DECO */
.header {
    background-color: pink;
    font-size: 24px;
    font-weight: bold;
    color: rgb(1, 1, 68);
    border: 15px solid pink;
   
}

.med-text {
    margin-bottom: 15px;
    color: rgb(68, 68, 133);
    margin-right: 5px;
   
}

.container-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 8px;
}

.container-m {
    display: flex;
    justify-content: space-between ;
    flex-shrink: 0;
    align-items: center;
    
}

.container-p {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

/* Section One */
h2 {
    text-align: center;
    color: palevioletred;
}

.container-o {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.sec-one img {
    width: 120px;
}

.small-text {
    color: palevioletred;
    text-align: center;
}

/* Section two */

.sec-two {
    background-color: rgb(251, 234, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;

}

.quote {
    font-style: italic;
    font-size: 24px;
    padding: 20px;
    font-weight: 10px;
}

.citation {
    display: flex;
    align-self: self-end;
    font-weight: bold;
}